* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
}

header {
    background-color: #DADEDF;
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

header nav a {
    color: #BF00FF;
}

#leftlinks, #rightlinks {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: bold;
    color: #BF00FF;
    padding: 0 15px;
    width: 100%;
}

#leftlinks {
    align-self: left;
}

#leftlinks a {
    padding: 0 35px;
}

#rightlinks {
    align-self: center;
    justify-content: right;
}

#rightlinks a {
    padding: 0 35px;
    align-self: center;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Dr Sugiyama', cursive;
    color: #BF00FF;
    display:flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    padding: 50px 0 10px 0;
}

#logo h1 {
    font-size: 8vh;
    line-height: 35%;
    text-transform: capitalize;
}
#logo h2 {
    font-size: 3vh;
    text-transform: lowercase;
}

#formconnexion div {
    margin: 0 15px;
}

#formconnexion input {
    border: none;
    border-bottom: 1px solid darkgray;
    background-color: inherit;
    max-width: 150px;
    padding: 6px; 
}

#bgsection1 {
    background-image: url('../images/bg-produits.jpg');
    background-size: cover;
    opacity: 0.2;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}