<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="app/images/permafavicon.png">
    <!-- [if IE]><link rel="shortcut icon" href="app/images/permafavicon.png"><![endif] -->
    <title>Faire face aux aléas climatiques</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body id="body_rgpd">
<!-- https://www.lafabriquedunet.fr/creation-site-vitrine/articles/mentions-legales-site-internet/
    https://datalegaldrive.com/comment-mettre-son-site-web-en-conformite-rgpd/ -->
    <header>
        <a href="../index.php"><img src="images/Perma_logo_RGB-Color_512.png" alt="logo de Perma"></a>
    </header>
    <main id="main_rgpd">
        <h1>Les mentions légales & RGPD</h1>
        <section id="legaldata">
            <div class="legaldata_box">
                <h2>Propriétaire et publication</h2>
                <address>
                    Nom de la société : Perma<br>
                    Siège social : 38 Rue Barbaroux<br>
                    13001 - Marseille
                </address>
                <a href="mailto:contact@perma-conseil.fr">contact@perma-conseil.fr</a>
                <p>SIRET : 88513096300014</p>
            </div>
            <div class="legaldata_box">
                <h2>Conception et réalisation</h2>
                <address>
                    Eve-Marie Gravier et Fabio Tenorio de Carvalho<br>
                    <a href="https://fabiotenorio.fr/">fabiotenorio.fr</a><br>
                    2 rue Ferrari<br>
                    13005 - Marseille
                </address>
                <a href="mailto:fabiovalho@gmail.com">fabiovalho@gmail.com</a>
            </div>
            <div class="legaldata_box">
                <h2>Hébergement</h2>
                <address>
                    1&1 IONOS Inc.<br>
                    701 Lee Road, Suite 300<br>
                    Chesterbrook<br>
                    PA 19087
                </address>
                <a href="https://www.ionos.com/">www.ionos.com</a>
            </div>
            <div class="legaldata_box">
                <h2>Protection droit d’auteur et reproduction</h2>
                <p>Tous les contenus du site Internet ainsi que la mise en page
                    et la conception sont protégés par le droit d’auteur.
                    La reproduction ou l’adoption de parties du site web,
                    en particulier de textes, de parties de textes, d’images ou de représentations graphiques,
                    nécessite l’accord écrit préalable de la société.
                </p>
            </div>
        </section>
        <section id="rgpd_lead" class="legaldata_box">
            <h2>Contenus & utilisation du site web</h2>
            <p>Nous nous efforçons de mettre à jour et de réviser constamment le contenu du site web.
                Toutefois, aucune responsabilité n’est acceptée quant à l’exhaustivité,
                l’exactitude et l’actualité. Il en va de même pour les sites web auxquels 
                il est fait référence par un lien hypertexte. Toute connexion à ces sites 
                web se fait à vos propres risques.
            </p>
        </section>
        <section id="rgpd_text" class="legaldata_box">
            <h2>RGPD</h2>
            <article class="rgpd_article">
                <h3>Politique de confidentialité</h3>
                <p>
                    Nous nous réjouissons de l’intérêt porté à notre site Internet.
                    La protection de votre sphère privée est pour nous très importante.
                    Ci-dessous, nous vous informons avec précision sur la gestion de vos données personnelles.
                </p>
            </article>
            <article class="rgpd_article">
                <h3>Sauvegarde des données d’accès dans les fichiers journaux du serveur</h3>
                <p>
                    Vous pouvez visiter notre site Internet sans fournir d’informations sur votre personne. Nous ne sauvegardons que les données d’accès dans des fichiers dits journaux du serveur, par exemple le nom du document demandé, la date et l’heure de la consultation, la quantité de données transférées vers l’hébergeur demandant. Ces données sont évaluées exclusivement dans le but d’assurer un fonctionnement sans problème du site Internet et d’améliorer notre offre ; en aucun cas, elles nous permettent de tirer des conclusions sur votre personne.
                </p>
            </article>
            <article class="rgpd_article">
                <h3>Collecte et utilisation des données pour le traitement du contrat</h3>
                <p>
                    Nous collectons des données à caractère personnel si, dans le cadre d’une commande ou lors d’une prise de contact (exemple par formulaire de contact ou par e-mail), vous nous les fournissez de votre plein gré. Le type de données collectées est visible à partir des différents formulaires remplis. Nous utilisons les données que vous nous avez communiquées pour traiter le contrat et vos demandes. Après exécution complète du contrat, vos données seront bloquées contre toute autre utilisation, puis effacées après expiration des délais de conservation imposés par le droit fiscal et commercial. Sauf si vous avez donné explicitement votre accord pour autoriser une autre utilisation de ces données ou si nous nous sommes réservés le droit d’utiliser ces données au-delà de cette période, en accord avec la loi, et en vous informant ci-dessous.
                </p>
            </article>
            <article class="rgpd_article">
                <h3>Communication des données pour exécution du contrat</h3>
                <p>
                    Pour exécuter le contrat, nous transmettons vos données à la société d’expédition chargée de la livraison, tant qu’elles sont requises pour la livraison des articles commandés.<br>
                    Pour traiter les paiements, nous transmettons les données de paiement nécessaires à l’institut de crédit chargé du paiement et éventuellement au prestataire de services de paiement mandaté par nos soins et au service de paiement que vous avez sélectionné au moment de passer la commande.<br>
                    Lors de la sélection de l’achat sur facture, bon de commande ou de l’achat par paiement échelonné, des données à caractère personnel et nécessaires au traitement du mode de paiement et d’autres données requises pour le traitement de la transaction sont transmises à l’institut de crédit chargé du paiement et éventuellement au prestataire de services de paiement mandaté par nos soins et au service de paiement que vous avez sélectionné au moment de passer la commande. Ces données sont fournies dans l’intérêt pour mener à bien des examens de risques.<br>
                    L’accord consenti lors du passage de la commande autorisant la transmission de données peut à tout moment et sans indication de motifs être résilié. Les obligations afin de vérifier votre solvabilité ne sont néanmoins pas concernées par une éventuelle révocation. Vous êtes tenu de nous fournir des informations exclusivement véridiques.<br>
                    Si vous souhaitez obtenir des informations sur la collecte, l’utilisation, le traitement ou le transfert de données à caractère personnel ou si vous souhaitez obtenir des informations sur ces données, si vous souhaitez les corriger, les bloquer ou les effacer, adressez-vous à l’institut de crédit chargé du paiement et éventuellement au prestataire de services de paiement mandaté par nos soins et au service de paiement que vous avez sélectionné au moment de passer la commande, au responsable chargé de la protection des données personnelles.
                </p>
            </article>
            <article class="rgpd_article">
                <h3>Utilisation de cookies</h3>
                <p>
                    Pour rendre la visite de notre site Internet attrayante et pour permettre l’utilisation de certaines fonctions, nous utilisons sur différentes pages des « cookies ». Il s’agit de petits fichiers textes enregistrés sur votre terminal. Certains des cookies que nous utilisons (cookies de session) sont effacés à la fin de la session de votre navigateur, donc à la fermeture de votre navigateur. D’autres cookies restent sur votre terminal et nous permettent de reconnaître votre navigateur lors de votre prochaine visite (cookies persistants). Vous pouvez configurer votre navigateur de manière à être informé de l’utilisation des cookies et à décider au cas par cas de les accepter ou de les refuser dans certains cas définis ou dans tous les cas. En cas de non-acceptation des cookies, les fonctions de notre site Internet peuvent être restreintes.                </p>
            </article>
            <article class="rgpd_article">
                <h3>Analyse sites Web avec Google Analytics</h3>
                <p>Ce site utilise Google Analytics, un service d’analyse de sites Internet fourni par Google Inc. (« Google »). Google Analytics utilise des « cookies », des fichiers textes enregistrés sur votre ordinateur et permettant d’analyser l’utilisation du site par ses utilisateurs. Les informations générées par les cookies concernant votre utilisation du site sont généralement transmises et stockées par Google sur un serveur situé aux États-Unis. En cas d’activation de l’anonymat de l’adresse IP sur ce site, votre adresse IP sera d’abord abrégée par Google au sein des États membres de l’Union Européenne ou dans d’autres États signataires de l’Accord sur l’Espace économique européen.<br>
                   Seulement dans des cas exceptionnels, l’adresse IP entière est transmise à un serveur de Google aux États-Unis où elle est abrégée. À la demande de l’éditeur de ce site, Google utilisera ces informations dans le but d’évaluer votre utilisation du site, de compiler des rapports sur les activités du site et de fournir à l’éditeur du site d’autres services relatifs à l’utilisation du site et d’Internet. L’adresse IP transmise par votre navigateur dans le cadre de Google Analytics ne sera pas recoupée avec d’autres données de Google. Vous pouvez désactiver l’enregistrement des cookies en sélectionnant les paramètres appropriés sur votre navigateur. Nous vous signalons néanmoins que vous ne pourrez pas, dans ce cas, utiliser intégralement toutes les fonctionnalités de ce site.<br>
                   En outre, vous pouvez empêcher la saisie chez Google des données générées par les cookies et relatives à votre utilisation du site Internet (y compris votre adresse IP) ainsi que le traitement de ces données par Google en téléchargeant et en installant le module complémentaire disponible sur le site Google.
                </p>
            </article>
            <article class="rgpd_article">
                <h3>Droit d’information et possibilité de prise de contact</h3>
                <p>
                    Vous disposez du droit d’obtenir des informations gratuites sur les données enregistrées sur votre personne ainsi qu’éventuellement du droit à la correction, au blocage et à l’effacement de ces données. En cas de questions concernant la collecte, le traitement ou l’utilisation de données à caractère personnel, en cas de renseignements souhaités à propos de ces données, de leur correction, de leur blocage ou de leur effacement, ainsi qu’en cas de révocation de l’autorisation octroyée ou de contestation d’une certaine utilisation de ces données, veuillez nous contacter directement à partir des coordonnées indiquées dans les mentions légales.
                </p>
            </article>
            <article class="rgpd_article">
                <h3>Droit applicable et juridiction compétente</h3>
                <p>
                    Le lieu d’exécution pour toutes les affaires est le site de l’entreprise, dans les limites permises par la loi. La langue de contrat, de commande et de commerce est le français.<br>
                    Tous les litiges résultants du contrat passé avec vous seront portés devant le tribunal de votre compétence judiciaire de droit commun. Une procédure de recours ou de conciliation extrajudiciaire en cas de litige résultant des relations de ce contrat n’est pas convenue. Si une disposition des présentes CGV (conditions générales de vente) devenait nulle, la validité des autres dispositions des présentes CGV resterait inchangée.
                </p>
            </article>
            <p>Version du 18.06.2021</p>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <script src="app/script.js"></script> -->
    <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/20197389.js"></script> -->
    <!-- End of HubSpot Embed Code -->
</body>
</html>